{% extends 'todo/base.html' %}

{% block content %}

<div class="form-group">
	<h2>Create Todos</h2>
	<form method="POST">
		{% csrf_token %}
		<div class="form-group">
			<input type="text" name="title" class="form-control" id="title" placeholder="Title" size="50" required>
		</div>
		<div class="form-group">
			<textarea name="memo" class="form-control" id="description" placeholder="Memo" cols="35"></textarea>
		</div>
		<div class="form-group form-check">
			<input type="checkbox" name="important" class="form-check-input" id="important">
			<label class="form-check-label" for="important">Important</label>
		</div>
		<button type="submit" class=" lelement btn btn-primary">Save</button>
	</form>
</div>
<hr>
	<div">
		{% if pendingList == False %}
		<h2 style="margin-left: 10px; display: inline-block;">Completed Todos</h2>
		<a style="margin-top: 10px; margin-left:20px; display: inline-block;" href="{% url 'currenttodos' %}">View current todos</a>
		{% else %}
		<h2 style="margin-left: 10px; display: inline-block;">Pending Todos</h2>
		<a style="margin-top: 10px; margin-left:20px; display: inline-block;" href="{% url 'completedtodos' %}">View completed todos</a>
		{% endif %}
	</div>
	<br>
	<div>
		{% for todo in todos %}
		<div class="card bg-dark text-white " style="width: 15rem; margin:5px; border-radius: 15px; display: inline-block; vertical-align: text-top;"> 
			<div class="card-body">
			<a style="color: bisque;text-decoration: none;" class="text card-title" href="{% url 'viewtodo' todo.id %}"><h5 >{{ todo.title }} {% if todo.important %} ⭐ {% endif %}	</h5> </a>
			<p class="card-text">{{ todo.description|truncatechars:50 }}</p>
			{% if pendingList %}
			<p class="card-text" style="font-size: 10px">{{ todo.datecreated }}</p>
			<a class="btn btn-success" href="{% url 'completetodo' todo.id %}">&#10003</a>
			<a class="btn btn-danger" href="{% url 'deletetodo' todo.id 'current' %}">&#10007</a>
			{% else %}
			<p class="card-text" style="font-size: 15px">{{ todo.datecompleted }}</p>
			<a class="btn btn-danger" href="{% url 'deletetodo' todo.id 'complete' %}">&#10007</a>
			{% endif %}
		</div> </div>
		{% endfor %}
	</div>
{% endblock %}


